body{
    background-color:black;
    color: firebrick;
}

header{
    font-size: 35px;
    color: green;   
    margin: auto;
    text-align: center;
}

a{
    color:sandybrown;
    text-decoration: None;
}

a:hover{
    color: yellow;
}

.nav{ 
    border: 5px plum solid;
    padding: 5px;
    border-radius: 15px;
    word-spacing: 50px;
}

.box-1 h2{
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, serif;
    color: brown;
    text-decoration: double underline;
}

.box-1{
    background-color: lightseagreen;
    color: black;
    font-size: 20px;
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 10px darkblue double;
    margin: 15px;
    padding: 20px;
}

.box-2 h2{
    font-size: 30px;
    font-family:"Lucida Handwriting", "Courier New", monospace;
    color:indigo;
    text-shadow: 2px 2px 5px yellowgreen;
}

.box-2{
    background-color: rgb(112, 179, 145);
    color:seashell;
    font-size: 20px;
    font-family:"Copperplate";
    border: 10px rgb(141, 6, 100) dashed;
    margin: 15px;
    padding: 20px;
}
  
#footer{
    color: springgreen;
    font-family: fantasy;
    font-size: 20px;
}